* {
  box-sizing: border-box;
}

body {
  background-color: #bebebe;
  color: #2f4f4f;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  background-color: #5e5e5e;
  border: 5px solid #5e5e5e;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  max-height: 500px;
  border-radius: 5px;
}
.grid-item {
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 120px;
  background-color: #4f2f2f;
  font-size: 6em;
  text-align: center;
}

.buttons {
  background-color: #5e5e5e;
  border: 5px solid #5e5e5e;
  grid-column: 1 / span 3;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.reset-btn {
  cursor: pointer;
  background-color: #dedede;
  /* color: #fff; */
  border: 0;
  margin: 0 20px;
  font-size: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.score {
  color: #dedede;
}

.score[id='playerx'] {
  color: #49fb35;
}

.footer {
  position: absolute;
  bottom: 10px;
}

.footer a {
  text-decoration: none;
  color: #2f4f4f;
}

.footer a:hover {
  opacity: 0.5;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 280px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}

@media (max-height: 700px) {
  .footer {
    opacity: 0.1;
  }
}