/* add to head <link rel="stylesheet" href="tictactoe.css"> */

html {
  background-color: darkslategray;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}
